# ipynb

- 파이썬 설치
- vscode 설치 + extensions
- .py
- .ipynb

In [9]:
print(11)
print(100)
print(3.14)

11
100
3.14

In [10]:
print('안녕하세요')

안녕하세요

In [16]:
# 주석 : # 사용
# 변수 = 값

a = 100

In [17]:
type(a)

int

In [12]:
id(a)

140710487724040

In [18]:
a = '10'

In [19]:
print(a)

10

In [20]:
type(a)

str

In [22]:
a = [1, 3, 4]

In [23]:
b = a

In [24]:
print(a)

[1, 3, 4]

In [25]:
print(b)

[1, 3, 4]

In [26]:
a[1] = 8

In [27]:
print(b)

[1, 8, 4]

In [28]:
id(a)

1658501087936

In [29]:
id(b)

1658501087936

In [30]:
(a, b) = 'python', 'life'

In [31]:
print(a)

python

In [32]:
print(b)

life

In [33]:
type(a)

str

In [34]:
a, b = ('cake', 'tea')

In [35]:
print(a)

cake

In [36]:
print(b)

tea

In [37]:
type(a)

str

In [38]:
print(7%3)
print(7//3)
print(2**3)

1
2
8

In [40]:
n1 = 1
n2 = 3

In [42]:
n1+n2
n1-n2
n1*n2
n1/n2

0.3333333333333333

In [43]:
n2 = '4'

In [44]:
n1 + n2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
str1 = '안녕하세요'
str2 = "안녕하세요"
str3 = '''안녕하세요
반갑습니다.
저는 손흥민입니다.
'''
str4 = """안녕하세요"""

In [47]:
print(type(str1), type(str2), type(str3), type(str4))

<class 'str'> <class 'str'> <class 'str'> <class 'str'>

In [50]:
print(str3)

안녕하세요
반갑습니다.
저는 손흥민입니다.

In [53]:
# 문자열의 덧셈
head = 'Python '
tail = 'is fun'

In [54]:
head + tail

'Python is fun'

In [55]:
print('#1$'*5)

#1$#1$#1$#1$#1$

In [56]:
len(head)

7

In [57]:
len(head) > 5

True

In [60]:
str_seq = 'Hello~ Python!!'

In [61]:
print(len(str_seq))
print(str_seq[0])

15
H

In [62]:
str_seq[0:3]

'Hel'

In [63]:
str_seq[7:13]

'Python'

In [64]:
str_seq[0:14]

'Hello~ Python!'

In [66]:
# 앞에 생략하면 디폴트로 0
str_seq[:14]

'Hello~ Python!'

In [67]:
# 뒤에 생략하면 마지막 인덱스
str_seq[0:]

'Hello~ Python!!'

In [68]:
#둘 다 생략하면 처음부터 끝까지
str_seq[:]

'Hello~ Python!!'

In [72]:
# 문자열 포맷팅 1
# %
'안녕하세요. %s 입니다' % '손흥민'

'안녕하세요. 손흥민 입니다'

In [78]:
# 문자열 포맷팅 2
# format()
'안녕하세요. 저는 {0} 입니다.'.format('손흥민')

'안녕하세요. 저는 손흥민 입니다.'

In [76]:
name = '송재섭'
'안녕하세요. 저는 {0} 입니다.'.format(name)

'안녕하세요. 저는 송재섭 입니다.'

In [79]:
name = '손흥민'
age = 33
'안녕하세요. 제 이름은 {0} 입니다. 나이는 {1}살 입니다.'.format(name, age)

'안녕하세요. 제 이름은 손흥민 입니다. 나이는 33살 입니다.'

In [ ]:
# 문자열 포맷팅 3
# f' {파이썬 코드}

name = '손흥민'
age = 33
number = 7
team = '토트넘 홋스퍼'
f'제 이름은 {name}입니다. 나이는 {age}살이고 소속된 팀 이름은 {team} 입니다. 팀 내 등번호는 {number}번 입니다'

'제 이름은 손흥민입니다. 나이는 33살이고 소속된 팀 이름은 토트넘 홋스퍼 입니다. 팀 내 등번호는 7번 입니다'

In [86]:
dic = {'name':'손흥민', 'age':33}
f'나의 이름은 {dic['name']} 입니다. 나이는 {dic['age']}살 입니다.'

'나의 이름은 손흥민 입니다. 나이는 33살 입니다.'

In [87]:
# 논리값을 표현하는 bool 자료형
# 참은 True, 거짓은 False

print(True)
print(False)

True
False

In [88]:
print(True, type(True))
print(False, type(False))

True <class 'bool'>
False <class 'bool'>

In [92]:
bool('')

False

In [1]:
bool(0)

False

In [3]:
# 복합대입연산
# z += x => z = z + x

z = 0
x = 10
z += x
print(z)

10

In [7]:
# 멤버 연산자 : 리스트에 해당 요소값이 존재하는지 확인
y = 200
list_a = [10, 20, 30, 40, 50]

In [8]:
x in list_a

True

In [9]:
y not in list_a

True

In [10]:
# 같은 객체 찾기 => is : 메모리의 주소값을 비교
x = 10
y = 10

x is y

True

In [11]:
str1 = 'hello'
str2 = 'hello'

str1 is str2

True

In [21]:
# 1 코딩해보기
# 과목별 점수의 총합과 평균 및 총점과 평균 출력
# - 국어, 영어, 수학 점수의 총합과 평균을 구하고  각 과목의 점수와  총점, 평균을 출력

korean = 90
math = 85
english = 76

sum = korean + math + english
avg = float(sum/3)
print(f'국어 : {korean}, 영어 : {english}, 수학 : {math}')
print(f'총점 : {sum}, 평균 : {avg}')

국어 : 90, 영어 : 76, 수학 : 85
총점 : 251, 평균 : 83.66666666666667

In [15]:
# 2 코딩해보기
gender = 'female'
age = 20

if(gender == 'male' and age >= 18):
    print(True)
else:
    print(False)

False

### 시퀀스 타입의 자료형

In [22]:
# list : 순서를 가지고 index 값으로 요소들을 접근
# index 값 0~N-1
list_a = [1, 2, 3]

In [23]:
list_a

[1, 2, 3]

In [24]:
print(type(list_a))

<class 'list'>

In [25]:
list_a[0]

1

In [26]:
list_a[1] + list_a[2]

5

In [27]:
list_b = [1, 2, 3, ['a', 'b', 'c']]

In [28]:
list_b[3]

['a', 'b', 'c']

In [30]:
list_b[-1]

['a', 'b', 'c']

In [31]:
list_b[3][0]

'a'

In [35]:
# 리스트의 슬라이싱
# list[시작 인덱스:마지막 인덱스+1]
list_c = [1, 2, 3, 4, 5]
# index   0  1  2  3  4

In [34]:
list_c[1:3]

[2, 3]

In [39]:
list_c[1:-1]

[2, 3, 4]

In [40]:
# 리스트 연산 : +, *
list_d = [100, 200, 300]

In [41]:
list_c + list_d

[1, 2, 3, 4, 5, 100, 200, 300]

In [42]:
list_d * 3

[100, 200, 300, 100, 200, 300, 100, 200, 300]